[submodule "services/ml/fast-alpr"]
	path = services/ml/fast-alpr
	url = https://github.com/ankandrew/fast-alpr

[submodule "services/ml/open-image-models"]
	path = services/ml/open-image-models
	url = https://github.com/ankandrew/open-image-models

[submodule "services/ml/license-plate-keypoint-detection"]
	path = services/ml/license-plate-keypoint-detection
	url = https://huggingface.co/PrasannaBAImodel/license-plate-keypoint-detection
